# Arquivos

automacao_clockify.py
project_aliases.json
automacao_clockify.spec
email_handler.py
tempCodeRunnerFile.py


# Diretórios

#python/*
projects/moedas/*


#!/python/projects/verificacpf.py (ESTUDAR)
#Python-Projects/*

# * Qualquer coisa
# ? Um caracter
# Intervalos [0-9] ou [a-z]
