# Arquivos

automacao_clockify.py
project_aliases.json
automacao_clockify.spec
email_handler.py
tempCodeRunnerFile.py
pdf.py
token.txt
todo.db

**/node_modules/
**/output/


# Diretórios




# * Qualquer coisa
# ? Um caracter
# Intervalos [0-9] ou [a-z]
